@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    --header:250px
}
*{
    font-style: normal;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    
}
h1 {
    font-size: 2.5rem;
}
main{
    background-color: #ccc;
    height: calc(100vh - 265px);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
header{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    height: var(--header);
    font-weight: 700px;
    color: #ffffff;
    background-image:url('images/pattern-bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#formulario {
    width: 30%;
    min-width: 400px;
    display: flex;
    height: 45px;
    border-radius: 9px;
    overflow: hidden;
}
#formulario #ip {
    width: 90%;
    font-size: 1.3rem;
    height: 100%;
    border: none;
    padding-left: 15px;
}

#formulario button{
    width: 10%;
    height: 100%;
    border: none;
    transition: background-color 1.5s;
    cursor: pointer;
    background-color: var(--VeryDarkGray);
}
#formulario button:hover{
    background-color: var(--DarkGray);
}

.info{
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    background-color: #ffffff;
    width: 60%;
    border-radius: 15px;
    z-index: 415;
    
}
.info p {
    padding: 5px 9px;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 500;
    border-left: solid 1px #9d9d9d;
}
.info p:first-of-type{
    border-left:none
}
.info p span {
    font-size: 14px;
    color: #595959;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .info p {
        font-size: 1rem;
    }
    #formulario #ip {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    .info {
        flex-direction: column;
        align-items: center;
        top: 167px;
        width: 80%;
        gap: 5px;
    } 
    .info p{
        font-size: 1rem;
        border-left:none;
        text-align: center;
        padding:0px;
        
    
    }
    #formulario {
        min-width: 330px;
    }
    #formulario #ip {
        font-size: 1rem;
    }
    
  
}